# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/captures/
*.apk
*.aab

# IDE
.idea/
.vscode/
*.ipr
*.iws
assets/vosk-model-small-cn.zip
